* {
    padding: 0;
    margin: 0;
}

body {
    background: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-dec470b0-fed6-46e5-be53-ec85fadc01be/b3997a29-3506-4fa5-9a54-57b967b1990a.webp) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-background-color: rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
}

audio,
.love_you {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1809185784;
}

.love_you {
    top: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffc0cb;
    letter-spacing: .05rem;
    -moz-animation: love-xf 1.2s alternate ease-in-out;
    -webkit-animation: love-xf 1.2s alternate ease-in-out;
    animation: love-xf 1.2s alternate ease-in-out;
    user-select: none;
    -webkit-text-shadow: 0 0 8px #fff;
    text-shadow: 0 0 8px #fff;
}

#lovexf {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 520;
}

@keyframes love-xf {
    0% {
        opacity: 0.08;
        filter: blur(8px);
        letter-spacing: .1rem;
    }

    100% {
        opacity: 1;
        filter: blur(0);
        letter-spacing: .05rem;
    }
}